<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
   <listener>
        <listener-class>servlet.EMF</listener-class>
    </listener>
    <listener>
        <listener-class>servlet.servletListener</listener-class>
    </listener>

    
  <display-name>registration</display-name>
  <welcome-file-list>
    <welcome-file>movies.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegistrationController</display-name>
    <servlet-name>RegistrationController</servlet-name>
    <servlet-class>controller.RegistrationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationController</servlet-name>
    <url-pattern>/RegistrationController</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>AccountSettingsController</display-name>
    <servlet-name>AccountSettingsController</servlet-name>
    <servlet-class>controller.AccountSettingsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountSettingsController</servlet-name>
    <url-pattern>/AccountSettingsController</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>LogoutController</display-name>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>controller.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/LogoutController</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>DisplayMoviesMainController</display-name>
    <servlet-name>DisplayMoviesMainController</servlet-name>
    <servlet-class>controller.DisplayMoviesMainController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayMoviesMainController</servlet-name>
    <url-pattern>/displayMovies.jsp</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <description></description>
    <display-name>MovieDetailsController</display-name>
    <servlet-name>MovieDetailsController</servlet-name>
    <servlet-class>controller.MovieDetailsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MovieDetailsController</servlet-name>
    <url-pattern>/MovieDetailsController</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>MovieFavController</display-name>
    <servlet-name>MovieFavController</servlet-name>
    <servlet-class>controller.MovieFavController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MovieFavController</servlet-name>
    <url-pattern>/MovieFavController</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <description></description>
    <display-name>WriteReviewController</display-name>
    <servlet-name>WriteReviewController</servlet-name>
    <servlet-class>controller.WriteReviewController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WriteReviewController</servlet-name>
    <url-pattern>/WriteReviewController</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>DisplayUserFavController</display-name>
    <servlet-name>DisplayUserFavController</servlet-name>
    <servlet-class>controller.DisplayUserFavController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayUserFavController</servlet-name>
    <url-pattern>/DisplayUserFavController</url-pattern>
  </servlet-mapping> 


  <servlet>
    <description></description>
    <display-name>SearchController</display-name>
    <servlet-name>SearchController</servlet-name>
    <servlet-class>controller.SearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchController</servlet-name>
    <url-pattern>/SearchController</url-pattern>
  </servlet-mapping> 
  
  
  <servlet>
    <description></description>
    <display-name>DisplayTheatersMainController</display-name>
    <servlet-name>DisplayTheatersMainController</servlet-name>
    <servlet-class>controller.DisplayTheatersMainController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayTheatersMainController</servlet-name>
    <url-pattern>/DisplayTheatersMainController</url-pattern>
  </servlet-mapping> 


 <servlet>
    <description></description>
    <display-name>PurchaseTicketsController</display-name>
    <servlet-name>PurchaseTicketsController</servlet-name>
    <servlet-class>controller.PurchaseTicketsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PurchaseTicketsController</servlet-name>
    <url-pattern>/PurchaseTicketsController</url-pattern>
  </servlet-mapping> 
  
  
 <servlet>
    <description></description>
    <display-name>PassValuesController</display-name>
    <servlet-name>PassValuesController</servlet-name>
    <servlet-class>controller.PassValuesController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PassValuesController</servlet-name>
    <url-pattern>/PassValuesController</url-pattern>
  </servlet-mapping> 
  

   <servlet>
    <description></description>
    <display-name>PurchaseTicketsMainController</display-name>
    <servlet-name>PurchaseTicketsMainController</servlet-name>
    <servlet-class>controller.PurchaseTicketsMainController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PurchaseTicketsMainController</servlet-name>
    <url-pattern>/PurchaseTicketsMainController</url-pattern>
  </servlet-mapping>  
  
   
  <servlet>
    <description></description>
    <display-name>OrderDetailsController</display-name>
    <servlet-name>OrderDetailsController</servlet-name>
    <servlet-class>controller.OrderDetailsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderDetailsController</servlet-name>
    <url-pattern>/OrderDetailsController</url-pattern>
  </servlet-mapping>
  
    
    
  <servlet>
    <description></description>
    <display-name>ScrapHelperController</display-name>
    <servlet-name>ScrapHelperController</servlet-name>
    <servlet-class>source.ScrapHelperController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ScrapHelperController</servlet-name>
    <url-pattern>/ScrapHelperController</url-pattern>
  </servlet-mapping> 
  
  <servlet>
    <description></description>
    <display-name>TheaterFavController</display-name>
    <servlet-name>TheaterFavController</servlet-name>
    <servlet-class>controller.TheaterFavController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TheaterFavController</servlet-name>
    <url-pattern>/TheaterFavController</url-pattern>
  </servlet-mapping>    
  

  <servlet>
    <description></description>
    <display-name>MovieGenresController</display-name>
    <servlet-name>MovieGenresController</servlet-name>
    <servlet-class>controller.MovieGenresController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MovieGenresController</servlet-name>
    <url-pattern>/MovieGenresController</url-pattern>
  </servlet-mapping>     

    
</web-app>